[2013-06-29 14:11] rsignell-usgs opened #1 "Realistic CF-compliant dataset examples"
We should have some realistic examples as well as trivial ones.

I think this is a valid UGRID 0.9 (current) FVCOM dataset, which is good for testing because it has both face and node data variables.

http://testbedapps-dev.sura.org/thredds/dodsC/in/usf/fvcom/ike/ultralite/vardrag/nowave/3d.html

[2013-08-15 14:25] acrosby opened #3 "Explore the Itaps/MOAB mesh tools"

[2013-12-04 12:29] rsignell-usgs opened #4 "face_to_node connectivity array is incorrect for FVCOM datasets"
The face_to_node connectivity array is incorrect for FVCOM datasets.  This is likely because in FVCOM the array `nv` is written as `3 x nodes` instead of `nodes x 3`.   We need to transpose the array if we encounter this condition.

[2013-12-04 13:23] #4 closed, assigned to rsignell-usgs

[2013-12-04 13:32] #1 closed, assigned to nobody

[2013-12-04 14:52] rsignell-usgs opened #7 "index_base computed incorrectly"
The index_base (0 or 1) is being calculated by taking the minimum of the values found in the connectivity array:
https://github.com/pyugrid/pyugrid/blob/master/pyugrid/ugrid.py#L495
but the UGRID convention says:
"Consistent with all other index variables defined here, the indexing convention of the location index set should be specified using the start_index attribute to the index variable and 0-

[2013-12-04 18:57] ChrisBarker-NOAA opened #8 "API for variable access"
pyugrid is currently l missing a key feature -- loading the actual data associated with the grid. That should probably be lazy loading -- you won't want to suck the entire dataset into memory (I was thinking that it wasn't good to suck in the entire grid, either, but we did talk about that -- it's just the gird, not the data, and you kind of need the whole thing to do much anyway...)

So what shou

[2013-12-04 19:00] ChrisBarker-NOAA opened #9 "Multiple meshes in one file?"
The current code for  reading ugrid netcdf files allows a single file to contain more than one mesh. Is this something we want to support? If so, then how?

I kludged in an api for `from_ncfile` that supposes that the user would either specify the grid they want, or just get an arbitrary one (if there is only one, then they would get that) This is less than ideal, to say the least. So I think we s

[2013-12-06 21:27] rsignell-usgs opened #10 "nodes are returned in wrong order"
[code]

produces:

[code]

but it should look like instead:

[code]

[2013-12-07 00:07] ChrisBarker-NOAA opened #12 "How to determine mesh name in a file?"
Apparently the standard allows multiple meshes in one file, so you need to know the mesh name when read a file.

Alex's code currently looks for a variable with an attribute called "mesh", and it's value is the mesh name (or one of them)

However, that feels a bit fragile to me -- and I think it means you couldn't' have a mesh with not data on it, which I think we want to support.

Alternatively,

[2013-12-07 00:12] ChrisBarker-NOAA opened #13 "need more complete (nad maybe more..) example / test files"
The file ElevenPoints_UGRIDv0.9.nc is a good simple start, but it needs edges.

and maybe a few more examples would be good.

[2013-12-07 00:14] ChrisBarker-NOAA opened #14 "need code to read boundary info"
The sample file: ElevenPoints_UGRIDv0.9.nc has boundary data, but the ncfile reading code doesn't read it.

[2013-12-07 00:20] ChrisBarker-NOAA opened #15 "Need code to read face_face connectivity"
The current code doesn't read the face_face connectivity.

The sample data file has it,

[2014-01-25 11:50] #10 closed, assigned to nobody

[2014-06-23 23:33] ChrisBarker-NOAA opened #17 "What to do with start_index?"
the current reading code does something like:

[code]

there for ignoring the start_index attribute -- and assuming that all the nodes are in the mesh -- is this the right behavior?

Also, it strikes me that the start_index attribute should be global to the mesh, rather than variable-specific -- but maybe people do odd things with that?

[2014-06-24 11:05] rsignell-usgs opened #18 "Code sprint at Scipy 2014?"
Pyugrid gang, anyone interested in a code sprint at SciPy 2014 (just over two weeks away?)  I'm going to be staying through Friday, flying home 11am on Saturday.

[2014-06-25 15:57] rsignell-usgs opened #19 "Problems importing pyugrid"
I did:

[code]

but when I try `import pyugrid` I get errors:

[code]

[2014-06-25 16:10] #19 closed, assigned to nobody

[2014-06-25 16:52] rsignell-usgs opened #20 "Time to follow the Fork=>Branch=>PR=>Review=>Merge process?"
I know that on a young project, it seems like a pain to use the `Fork=>Branch=>PR=>Review=>Merge` process, but maybe it's time?

I like these resources:
https://gun.io/blog/how-to-github-fork-branch-and-pull-request/
http://nathanhoad.net/git-workflow-forks-remotes-and-pull-requests

Each PR should be closing one or more issues.
What do others think?

[2014-06-25 18:34] ChrisBarker-NOAA opened #21 "Set up automated tests?"
It's been proposed on Issue: #20 that an auto-test framework be employed:
"""
the best way to do automated testing is to use travis-ci. It takes a
little work to setup but once you set it up it will test the repo and pull
requests and put a 'build-passing' or 'build-failing' tag on the github
page. See https://github.com/ulmo-dev/ulmo  for an example.
"""

I'm all for it if someone can set it up.

[2014-06-25 18:43] ChrisBarker-NOAA opened #22 "More tests..."
We really need more tests.

In particular, a larger selection of sample files to test the reading code against. There are a lot of options and variations, so really hard to know if it's working in the general case. In fact, there is only one file in the `test/files/` dir -- so it's the only one being tested against. And that one doesn't have edges defined (so I have no idea if the code that reads

[2014-06-25 20:31] rsignell-usgs opened #23 "Can no longer open testbed UGRID files"
I can't open the IOOS testbed UGRID files with pyugrid anymore.
http://nbviewer.ipython.org/gist/rsignell-usgs/bbbd6b38825f3d8c9439

I see at least one problem here:
https://github.com/pyugrid/pyugrid/blob/84aa40a6ebcdfff9c015aac53eb66e3538e0509b/pyugrid/read_netcdf.py#L55
in that `role` should be `cf_role`.

[2014-06-26 00:20] cbcunc opened #24 "Allow Tests To Run In Setup.py Context"
Currently the tests only run if switched into the test directory and the pyugrid package is installed. The test files are referenced relative to the test directory. Allow the tests to run in the context of setup.py, where the package is importable from the current directory without the package being installed. And reference the test files with the `__file__` attribute of the test modules. This wil

[2014-06-26 15:49] #24 closed, assigned to cbcunc

[2014-06-26 18:28] ChrisBarker-NOAA opened #26 "ugrid writes face_coordinates attribute even when not there"
UGRid.save_as_netcdf is writting the face_coordinate and edge_coordinate attributes, even when those don't exist in the UGrid -- then then loading code fails because then actually variables aren't there.

[2014-06-26 19:53] #26 closed, assigned to ChrisBarker-NOAA

[2014-06-26 19:54] #17 closed, assigned to nobody

[2014-06-26 19:57] #15 closed, assigned to nobody

[2014-06-26 19:58] #12 closed, assigned to nobody

[2014-06-26 19:59] #9 closed, assigned to nobody

[2014-06-26 20:02] #8 closed, assigned to nobody

[2014-06-26 20:04] #7 closed, assigned to nobody

[2014-06-26 20:08] #14 closed, assigned to nobody

[2014-06-26 23:12] ChrisBarker-NOAA opened #27 "When/How to load Data associated with mesh?"
We need to figure out an API for loading data associated with a mesh.

I put code in there to load it all into memory, which is often (mostly?) not what you want -- too much data! That is now turned off by default, so you can still load the grid, but there is no way to get jsut _some_ of the data.

I think the easiest way to get there would be to load teh data variables, but keep references to the

[2014-06-26 23:15] ChrisBarker-NOAA opened #28 "Dealing with time and Z?"
In the ugrid standard, we more or less ignore time and the z coordinate, figuring that those are handled in the standard CF way.

But what should py_ugrid do? Do we build time an z into the data model? Just pass them on through one way or another?

I'm having trouble settling in a clean API. Ideas welcome.

[2014-07-01 00:18] #21 closed, assigned to nobody

[2014-07-11 21:14] rsignell-usgs opened #31 "Consider replacing None with 0"
Could we use a 0-sized array instead of `None`, for example if there are no edges or face?
The advantage of 0-sized array is that then we could do things like:
[code]

[2014-07-11 22:15] rsignell-usgs opened #32 "Get simple UGRID example going with Iris"
Get simple UGRID example going with Iris at SciPy 2014

[2014-07-12 15:51] rsignell-usgs opened #33 "Subset a realistic UGRID 0.9 dataset for local testing"
Subset a realistic UGRID 0.9 dataset using the subset service from hyrax team and save to test_data folder so we can use it for testing

[2014-07-12 16:22] rhattersley opened #34 "Longitude wrapping and point-in-cell test"
Just a reminder that we will need a point-in-face test which deals with date-line wrap-around issues.

It might be possible to use the winding direction to spot faces with coordinate wrapping issues, rather than use coordinate value heuristics.

The UGRID spec (mostly) says:

The exception being fully 3D unstructured topology:

[2014-07-12 17:07] #32 closed, assigned to ChrisBarker-NOAA

[2014-07-12 17:17] cbcunc opened #35 "Compliance Checker Not Ready For Prime Time"
After working through some requirements for https://github.com/ioos/compliance-checker (petulant-bear, udunitspy), and running it on our SELFE example, it appears that compliance-checker's HEAD does not work. It raises an AttributeError: 'unicode' object has no attribute 'units' on an identifier "dim" on line line 1421 in check_independent_axis_dimensions. I ran it under pdb and determined that th

[2014-07-12 18:01] ChrisBarker-NOAA opened #36 "Add check/fixed for counter-clockwise"
The ugrid standard specifies that nodes be arranged counter-clockwise.

py_ugrid could use code to check for this, and optionally fix if it's not compliant.

[2014-07-15 15:14] rsignell-usgs opened #38 "Defer loading of coordinate/mesh data"
As part of IOOS-funded Sci-WMS work, @brandonmayer would like to use `pyugrid` as a test to see if files are UGRID.    Could we defer loading of coordinate, grid and other data so that opening the file could be a quick as possible, with just the attribute data and a few logic checks perhaps being done?

I know about the UGRID Conventions attribute, but the idea is that this could be more than a "t

[2014-07-16 19:09] cbcunc opened #40 "Sci-WMS Discussing Pyugrid Integration"
Sci-WMS developer are [discussing](https://github.com/asascience-open/sci-wms/issues/120) integrating pyugrid for the purposes of compliance checking. More realistically, pyugrid may be able to reduce complexity in some ugrid handling in sci-wms. This issue is for awareness and to promote cross-project collaboration. We should know what the sci-wms requirements for pyugrid are and if they can be s

[2014-07-17 13:33] rhattersley opened #41 "Common interface for [un]structured operations"
re. https://github.com/pyugrid/pyugrid/pull/39#issuecomment-49176476:

@brandonmayer

[2014-11-04 14:47] cbcunc opened #47 "Decide if ugrid conventions has order dependence on edge and face node connectivity dimensions"
The conventions specify one order:

integer Mesh2_face_nodes(nMesh2_face, Three) ;

But the pyugrid test file specifies another:

int Mesh2_face_nodes(Three, nMesh2_face) ;

[2014-11-04 14:54] cbcunc opened #48 "Will pyugrid be expected to handle faces with more nodes than triangles?"
Quadrilaterals and above?

[2014-11-04 15:02] cbcunc opened #49 "Why do test file sea water velocity lack mesh attributes?"
The velocity CDL (from ncdump) looks like (no mesh attribute):

[code]

But the depth variable does have a mesh attribute:

[code]

[2014-11-04 15:04] cbcunc opened #50 "If only we had a tool that would draw the mesh..."
...if only.

[2014-11-05 15:02] cbcunc opened #51 "Ugrid needs mesh comparison special methods for iris"
In order to merge cubes in iris, we need to be able to compare meshes. This should be provided by Ugrid. We should be able to ask if two Ugrids have equivalent meshes.

[2014-11-25 17:24] ChrisBarker-NOAA opened #52 "Projected coordinates"
It would be nice for py_ugrid to support projected coordinates. For example we've gotten some SUNTANS output that is using projected easting-northing, rather than lat-lon.

It seems this is supported in CF,a nd should be in UGRID eventually:
https://github.com/ugrid-conventions/ugrid-conventions/issues/12

At this point, I think lat-lon is only assumed in the reading / writing code, so should be h

[2014-11-25 17:43] ChrisBarker-NOAA opened #53 "py_ugrid virtual sprint?"
Hi folks,

This issues have been stacking up, but no much code written. Perhaps we need some motivation to buckle down and get some stuff done.

How about a virtual sprint? A handful of us would set aside a day or two work on py_ugrid. If we  all set aside the same days, then we could coordinate some, and I think really get some work done.

Of course with time zones, we wouldn't be working at exac

[2015-06-04 15:31] cbcunc opened #58 "SciPy 2015 Sprint?"
I would like to register a pyugrid sprint at SciPy 2015:

http://www.scipy2015.scipy.org/ehome/115969/259290/?&

However, I'd like some consensus that's a good thing before doing so. We could work on cleaning up some of these lingering issues and get a better roadmap going.

How many of you usual suspects will be at SciPy 2015 and would you like to sprint on pyugrid again?

[2015-06-04 15:48] ChrisBarker-NOAA commented on #58
I'll be there, and would love to push py_ugrid forward some more.

-Chris

On Thu, Jun 4, 2015 at 8:31 AM, Chris Calloway <notifications@github.com>
wrote:

--

Christopher Barker, Ph.D.
Oceanographer

Emergency Response Division
NOAA/NOS/OR&R            (206) 526-6959   voice
7600 Sand Point Way NE   (206) 526-6329   fax
Seattle, WA  98115       (206) 526-6317   main reception

Chris.Barker@noaa.

[2015-06-04 16:13] rhattersley commented on #58
Nice idea. :+1: Sadly I won't make it over this year. :disappointed:

[2015-06-04 20:36] cbcunc commented on #58
OK, I registered the sprint. But I'm going to leave this issue open for awhile to give people a chance to sound off about their participation. @rhattersley, I'm sorry we are going to miss you thing time. Maybe I can swing by Exeter again before next year. But @pelson is going to be at SciPy15, correct?

[2015-06-05 09:17] rhattersley commented on #58
Yes - @pelson will be there. I almost cc'd him in my previous reply, but I'm guessing he'll be up to his ears in matplotlib and/or cartopy. I can't hurt to ask though...

[2015-06-05 10:41] rsignell-usgs commented on #58
I have to leave in time to get back to the cape by 6 pm on Saturday,but I'm interested

[2015-06-09 16:08] ocefpaf opened #59 "PyPI release"
Consider registering `pyugrid` at PyPI.  It would make make the life of `pip` users a little easier.

[2015-06-09 16:12] ChrisBarker-NOAA commented on #59
Hmm -- do we think it is mature enough? If it's going to need looking at / messing around with the source code to be useful, then it's probably better for folks to get it from gitHub, rather than a pip install.

But maybe it is ready-enough?

-CHB

[2015-06-09 16:21] ocefpaf commented on #59
I like the to follow the  the rule: Release early, release often.  (Adding a `Beta` release tag in the classifiers though :wink:)

[2015-06-09 16:54] ChrisBarker-NOAA commented on #59
FAir enough -- done!

It hasn't shown up yet -- I don't know how long that takes.

At the moment, I think it will only have a link to gitHub.

Maybe we should put up an sdist?

[2015-06-09 16:56] ocefpaf commented on #59
:+1:

[2015-06-09 17:01] ChrisBarker-NOAA commented on #59
OK -- done.

Please test it out in a bit....

[2015-06-09 17:03] daf commented on #59
Seems to have installed:

[code]

[2015-06-09 17:05] ocefpaf commented on #59
Ops... @daf was faster then me :stuck_out_tongue_winking_eye:, but everything worked here as well.  Thanks @ChrisBarker-NOAA.

[2015-06-09 17:05] #59 closed

[2015-06-09 23:04] ChrisBarker-NOAA commented on #59
check this out:

   - 75 downloads in the last day

I'm guessing that's mirrors or something, but gratifying none the less :-)

-Chris

On Tue, Jun 9, 2015 at 10:05 AM, Filipe <notifications@github.com> wrote:

--

Christopher Barker, Ph.D.
Oceanographer

Emergency Response Division
NOAA/NOS/OR&R            (206) 526-6959   voice
7600 Sand Point Way NE   (206) 526-6329   fax
Seattle, WA  98115

[2015-06-10 11:26] ocefpaf commented on #59
@ChrisBarker-NOAA if you are into that kind if stats take a look at these:

https://binstar.org/IOOS/pyugrid/files

[2015-07-07 21:08] rsignell-usgs opened #60 "Add an example notebook that plots velocity vectors using pyugrid"
Does anyone have an example notebook that shows how to use pyugrid to plot velocity vectors from any UGRID-compliant model (e.g. without model specific code)?

[2015-07-09 16:38] cbcunc opened #66 "Non-destructively add UGRID to conventions attribute"
Add "Ugrid-x.y.z" to conventions attributed automatically and programmatically. Possibly on save. Do this non-destructively so that if other conventions exist in the conventions attribute, they are preserved. Autocorrect any pre-existing UGRID convention string to the current version. This issue inspired by PR #39, which tried to hard-code and clobber any existing convention attribute.

[2015-07-09 17:34] cbcunc opened #67 "Automate update of docs on github.io"
Not sure if we should do this in Travis, due rejected PRs. But figure this out.

[2015-07-09 17:35] pelson commented on #67
This is something I'd be interested in helping out with this weekend.

[2015-07-09 17:48] cbcunc opened #68 "Figure out our Cython strategy."
How to make pyugrid distribution installable either as pure Python or Cythonized.

[2015-07-10 03:37] QuLogic commented on #68
I don't see any Cython files in the repo here.

[2015-07-10 14:27] ChrisBarker-NOAA commented on #68
there aren't any yet -- there were in the early stages of teh coce, but we
ripped it out to keep it simple and clean to install.

But as we add code to navigate the grid, etc, performance is going to
matter, and we'll want Cython in there.

-Chris

On Thu, Jul 9, 2015 at 8:37 PM, Elliott Sales de Andrade <
notifications@github.com> wrote:

--

Christopher Barker, Ph.D.
Oceanographer

Emergency Res

[2015-07-10 16:55] cbcunc commented on #67
I created a gh-pages branch for the project (pyugrid.github.io org site to be handled separately.). In the checkout, I ran make html in docs. Then I moved docs/_build/html/* to the project root and then deleted docs/_build. This seems to me to be the workflow for an automated update. Thoughts?

[2015-07-10 18:45] cbcunc commented on #67
There is also now an organizational pyugid.github.io site. The initial site simply has a link to the pyugrid project site at pyugrid.github.io/pyugrid. The idea for the organization site is the the organization may also host repos for other packages developed for pyugrid, such as spatial indexes , validators, or pyugrid namespace packages.

[2015-07-11 16:43] cbcunc commented on #67
Development docs on github.io and release docs on readthedocs???

[2015-07-11 16:47] cbcunc commented on #67
mkdocs tool suggested by filipe, check out filipe's repo for example in travis.yml

[2015-07-11 17:03] rsignell-usgs opened #69 "move "pyugrid" to "ugrid-conventions" organization"
Moving "pyugrid" to "ugrid-conventions" (https://github.com/ugrid-conventions) would be nice because we could then put "rugrid" repos and other things there.

[2015-07-11 18:40] rsignell-usgs opened #70 "Read version from VERSION.txt"

[2015-07-11 18:50] ocefpaf commented on #70
Almost done...

[2015-07-11 19:04] ChrisBarker-NOAA opened #72 "Add conda recipe to repo"
The canonical location for the conda recipe should be in the source.

IOOS (or whoever else) can copy / pull from there.

A draft can be copied from the IOOS-conda recipes repo:

https://github.com/ioos/conda-recipes

[2015-07-11 20:30] ocefpaf commented on #72
I am preparing a PR with that...

[2015-07-11 20:59] cbcunc opened #74 "Fix autodoc to include __init__ docstrings"

[2015-07-11 22:12] cbcunc commented on #70
Fixed in #71

[2015-07-11 22:12] #70 closed

[2015-07-12 15:01] ocefpaf opened #78 "Create entry_point"
All files in the `scripts/` directory should be installed at the `bin/` folder.

[2015-07-12 16:10] #78 closed

[2015-07-12 16:57] ChrisBarker-NOAA opened #80 "Use entry_points to load script"
The simple scripts method breaks on OS-X, because dist_utils re-writes the shebang line, and removes the "pythonw".

So we should try entry_points and gui_script.

[2015-07-12 17:30] ChrisBarker-NOAA commented on #80
Entry points are a pain -- would require ugrid_wx to go into the package, with a start up function.

So for now, we'll ship the script, but not have it auto-installed in bin -- as setuptools / distutils mangles the pythonw call.

Also, from the docs, it looks like entry_points / gui_script wouldn't work right on OS-X and pythonw anyway.

[2015-07-12 17:30] #80 closed

[2015-07-12 18:56] #72 closed

[2015-07-12 20:36] ocefpaf opened #82 "Add an optional dependency list"
These are not installed by default right now and we have to document is:
- `wxpython`
- `...`

[2015-07-12 21:45] cbcunc opened #83 "Fix Travis to test the SDIST"
Have Travis create an sdist, copy it to a separate directory, unpack it, ensure it is installable, ensure installation creates the expected command scripts (and that they also run?), and that all the tests pass when run from the expanded sdist test directory.

[2015-07-12 21:52] ChrisBarker-NOAA opened #84 "Put a modest-sized example dataset somewhere."
If it's small enough, we could put it in the source.

Otherwise, if there is an OPenDAP server that someone is running where we could put some samples, that would be useful.

hint. hint Rich...

-Chris B.

[2015-07-13 19:04] ChrisBarker-NOAA opened #86 "Active development plan?"
Post scipy, we have:

tagged a release -- freeing us up to go mess things up.

WE've also planned a bunch of re-factoring that WILL break most code thatused pyugrid.

So what's the plan? I suggest we just go for it and push the changes to master.

Alternatively, we could create a branch to do all the refactoring in, and then get it all settled before merging with master.

However, we do need a wor

[2015-07-15 03:16] ocefpaf commented on #86
I think that sending small PRs and merging them to master is probably better than working on a branch.  A branch can get stale quickly and new contributor will look for changes in master.

[2015-07-15 16:59] ChrisBarker-NOAA opened #89 "Requirements for conda recipe?"
I just tried to update my conda recipe to use the tagged release:

https://github.com/NOAA-ORR-ERD/orr-conda-recipes/tree/master/pyugrid

(yes, I should get this into this repo, but for now....)

I ended up having to add:
        - matplotlib
        - scipy
        - mock
        - nose

to the build dependency list -- which makes no sense you don't need those at build time (or netcdf4, actually)

[2015-07-15 22:42] ocefpaf commented on #89
SciPy is [there](https://github.com/pyugrid/pyugrid/blob/master/conda-recipe/meta.yaml#L22). I left the optional matplotlib (and wxpython) out, but we can add them there...  However, I am against adding `mock` and `nose` to the recipe.  They are used only for testing and we do not run the tests\* while building the binaries.

\* One might argue that we should run the tests, but that is rarely done

[2015-07-15 22:45] ChrisBarker-NOAA commented on #89
I only added mock and nose because the build failed if I didn't.

But I have no idea why -- maybe because MPL requires them? I didn't take any time to investigate, but the goal is NOT to have them there.

[2015-07-15 23:03] ocefpaf commented on #89
@ChrisBarker-NOAA are you using [this](https://github.com/pyugrid/pyugrid/tree/master/conda-recipe) recipe?  That one works here without any modification.

[2015-07-23 03:32] ChrisBarker-NOAA opened #90 "Consider using Versioneer for version handling"
As suggested by Phil in #71

[2015-08-27 05:06] pelson opened #92 "Python 3"
Just tried building pyugrid on Python 3, and got the following error:

[code]

Just wondering whether py3 support been looked at in pyugrid yet?

[2015-08-27 14:13] ocefpaf commented on #92
I think I have a branch that fixes this.  Let me clean it up a little bit and I will send a PR in a few hours.

[2015-08-27 21:58] #92 closed

[2015-09-02 21:52] ChrisBarker-NOAA opened #94 "refactor to have a puugrid.io subpackage?"
Just capturing the idea here to put the io code in a clean place by itself.

Currently, the reading netcdf is in a separate module but writing is in the main module.

And we'll likely want to read/write other formats some day...

[2015-09-02 21:53] ChrisBarker-NOAA commented on #94
NOTE:

Here: https://github.com/NESII/ocgis-ugrid

is an example of code that could/should be ugrid.io

[2015-09-03 21:01] QuLogic commented on #92
Why are you building 0.1.1 and not 0.1.6?

[2015-09-22 19:49] bekozi opened #96 "Adding 2D flexible mesh conversion"
Hi, all. I've talked with @ChrisBarker-NOAA about bringing in some code we have for 2D flexible mesh conversion to/from UGRID. I listed below the main changes required to bring in this code (see https://github.com/NESII/ocgis-ugrid/tree/spatial-index-speedups for the most recent version of our flexible mesh conversion code). Some refactoring of our original code will be required, but I don't expec

[2015-09-22 19:58] ChrisBarker-NOAA commented on #96
Welcome!

1st: what is a "flexible mesh" -- i.e. how much can change from time to time:
 - number of cells?
 - topology -- i.e neighbors.

I'm trying to get  a sense of if you need entire new ugrid (essentially) for each time (or each time the mesh changes...) -- and how is data, etc mapped between meshes as the mesh changes?

Sorry for the maybe obvious questions -- never worked with one....

And

[2015-09-22 20:20] bekozi commented on #96
number of cells?
topology -- i.e neighbors.
I'm trying to get a sense of if you need entire new ugrid (essentially) for each time (or each time the mesh changes...) -- and how is data, etc mapped between meshes as the mesh changes?

The specification is here: https://github.com/ugrid-conventions/ugrid-conventions/blob/v0.9.0/ugrid-conventions.md#2d-flexible-mesh-mixed-triangles-quadrilaterals-etc-

[2015-09-22 20:50] rsignell-usgs commented on #96
@bekozi, just to make sure I understand, you are persisting shapefile-like objects in NetCDF files using UGRID conventions?

[2015-09-22 21:15] bekozi commented on #96
@rsignell-usgs: That is correct. The conversion works for arbitrary collections of "polygon objects" (shapely polygons to be exact). Also, we hope to propose some additions to UGRID for handling MultiPolygons eventually. Implementing ragged arrays for node indexing will be crucial at some point. Currently, flexible mesh UGRID NetCDFs are larger on disk than their shapefile counterparts!  Two other

[2015-09-22 21:31] rsignell-usgs commented on #96
@bekozi, Interesing.  I would have guessed that with netcdf4 deflation the file sizes of the netcdf file and shapefile have been similar.
Could you point to an example of one of these netcdf files?  I would be very curious to check out one.

[2015-09-22 22:02] bekozi commented on #96
@rsignell-usgs: An example is here: https://www.dropbox.com/sh/dizuyn2wj8y39ot/AAB63Kie7Nj7Vu_lvZx87s3xa?dl=0.

I initially thought the file sizes would be the same as well. There are some unfortunately shaped variables in flexible mesh with dimension (nMesh2_face, nMaxMesh2_face_nodes) corresponding to (the number of faces/polgyons, the maximum number of nodes contained in a face/polygon). The ki

[2015-09-22 22:25] rsignell-usgs commented on #96
@bekozi , I'm happy to report that simply converting this netCDF3 file to netCDF4 with deflation resulted in a file slightly *smaller* than the zipfile, with no loss of information.  A win!
[code]
and using the handy `nc3tonc4` python script included with `netcdf4-python`:
[code]

[2015-09-22 22:33] ChrisBarker-NOAA commented on #96
"""
four of the polygons have 5 nodes while the fifth has 1000.
"""

Ahh -- was about to ask that question. So while netcdf4 compression should help the file size issue, for that kin dof "mesh" -- this simply isn't the way to go.

I think that spec was designed for things like quad+triangle meshes, where there would only be a little bit of wasted space. What we have here is really a bunch of polyg

[2015-09-22 22:46] rsignell-usgs commented on #96
@ChrisBarker-NOAA, it seems to me this *is* a perfectly fine way to represent this GIS data in NetCDF files: it's simple and the netcdf4 file sizes are comparable to shapefiles.    As I understand it, data from these files will not be used to create UGRID objects in python, but instead used to instantiate objects in Shapely and the like.

The only drawback I can see is that the memory requirements

[2015-09-22 23:09] ChrisBarker-NOAA commented on #96
Maybe I'm just being pedantic, but storing a huge number of empty values in order to squish something into a simple data model feel like a big kludge. Even if compression can save you from big files.

Maybe that temporarily bigger issues isn't that big -- we'll see.

But ragged arrays really aren't THAT hard to deal with :-)

Anyway, this may be the pragamatic way to go -- and having py_ugrid supp

[2015-09-23 00:14] bekozi commented on #96
@rsignell-usgs: This is excellent! We had not experimented with file compression. Thanks for testing!

@ChrisBarker-NOAA: They make sense provided the input file has connectivity. Isolated polygons will have no links while things like catchments should, provided they are not on an island. The conversion does a "touches" operation to determine face connectivity.

@ChrisBarker-NOAA: I remember that

[2015-09-23 17:21] ChrisBarker-NOAA commented on #96
Yes, I think FlexibleMesh could be tightly integrated with UGRID -- in fact, I'm not sure there needs to be anything separate at all -- particularly if you don't go the ragged array route, the only thing you need to add is handling of missing values.

At first thought, it seems that could be totally transparent to the user...

-Chris

[2015-09-23 17:32] ChrisBarker-NOAA opened #97 "Ragged Arrays?"
In #96, the issue has come up about whether or not to use ragged arrays to store meshes with faces of varying dimensionality.

I thought isolating that particular issue makes sense, so here it is:

I had always imagined that that would be something like triangles + quads, where you could simply use a Nx4 array, and simply store a null value of some sort for the triangles.

but @bekozi is looking a

[2015-09-23 19:58] bekozi commented on #96
Sounds good! I'll get back to you with successes and/or failures. Ragged arrays will not be supported initially.

[2015-09-23 20:07] bekozi commented on #97
There may be something more advanced for ragged arrays in numpy, but using an object array is one possibility:

[code]

This suggestion may not be all that informative as it appears ``PolygonSet`` is doing something similar...

[2015-09-23 20:24] ChrisBarker-NOAA commented on #96
cool, thanks!

[2015-09-23 20:35] ChrisBarker-NOAA commented on #97
actually, PolygonSet is storing all the coordinates in a single Nx2 numpy array, then there is an index array that you use to access the sub-arrays for the individual polygons. This lets you do bulk operations on the whole set, and is generally more efficient. Maybe not worth it, though. But we discuss that if/when someone wants to implement it.

-CHB

[2015-10-19 18:12] ChrisBarker-NOAA opened #99 "Look into PySeidon"
I just discovered this:

https://github.com/GrumpyNounours/PySeidon

Kind of special purpose,a nd designed for a particular use case -- but has a lot of generally useful stuff, and works with FVCOM, which is a subset of the general UGRID case. Nice to share some code there.

Of course, PySeidon should really be built on py_ugrid, but that can wait :-)

But we should see what's there.

[2015-10-19 19:20] rsignell-usgs commented on #99
Here's how the vertical slice is done.  :smile_cat: https://github.com/GrumpyNounours/PySeidon/blob/master/pyseidon/fvcomClass/functionsFvcomThreeD.py#L217-L269

[2015-10-20 12:32] rsignell-usgs opened #100 "we should be using nc.get_variables_by_attributes"
@ocefpaf made this little example of how we could streamline the code by taking advantage of the new [`get_variables_by_attributes method`](http://unidata.github.io/netcdf4-python/#netCDF4.Dataset.get_variables_by_attributes) in netcdf.

Check it out!  Two whole functions replaced by two lines!
http://nbviewer.ipython.org/gist/ocefpaf/da37e4371dd3ba2ddc15

[2015-10-20 12:40] ocefpaf commented on #100
Note that we do need the latest netCDF4 to use that method.  We can ether subclass the `netCDF4.Dataset`, like @kwilcox did in pyaxiom, or we can use it as a function call on the `nc` object.

[2015-10-20 15:52] ChrisBarker-NOAA commented on #100
Also note that: the ``is_valid_mesh`` function leaves teh door open to more checks, and more helpful error messages -- so we may want to keep it anyway.

My thought is to hold off a bit until we feel OK requiring this version of netCDF4, then use this.

[2015-10-20 17:48] ocefpaf opened #103 "Use biggus or dask to load the grid."
`pyugrid` download all the data when reading the grid:

https://github.com/pyugrid/pyugrid/blob/master/pyugrid/read_netcdf.py#L184
https://github.com/pyugrid/pyugrid/blob/master/pyugrid/read_netcdf.py#L186
https://github.com/pyugrid/pyugrid/blob/master/pyugrid/read_netcdf.py#L200

That operation can take up to [3 minutes](http://nbviewer.ipython.org/gist/ocefpaf/309629e6d2a7ed4d387f) in datasets l

[2015-10-20 17:52] rsignell-usgs commented on #103
+100

[2015-10-20 19:24] ChrisBarker-NOAA commented on #103
Ideally an optional dependency...

But I'm wondering about use-cases. nice to have quick file loading, but if
you need to wait to download as soon as you try to do anything, then what's
the gain?

Though I suppose if the mesh has connectivity information that you don't
need, this would keep it from even having to load -- so that's nice.

having not actually used either of them, it seem Biggus is t

[2015-10-20 20:57] ocefpaf commented on #103
Sure if present then the array becomes lazy otherwise it is just a numpy array.  `xray` does that very nicely BTW.

Not true.  We can do a lot before download and/or download less.  I usually don't load all the data.  Note that `var[:10]` will always be faster than `var[:]`.  Another case is if we load data that is bigger than memory.  Using dask we can keep working instead of crashing.

Here is a

[2015-10-20 22:02] ChrisBarker-NOAA opened #104 "use conda to get pytest on travis?"
I see in the .travis.yaml:

[code]

but conda has pytest in the default channel now, so we should be able to simply do

conda install pytest

or just add it to the requirements.txt file.

[2015-10-20 22:16] ChrisBarker-NOAA commented on #104
@ocefpaf already took care of this.

[2015-10-20 22:16] #104 closed

[2015-10-20 22:34] ChrisBarker-NOAA commented on #103
On Tue, Oct 20, 2015 at 1:57 PM, Filipe <notifications@github.com> wrote:

Good model to follow.

We need to keep that data associated with the grid, and the mesh itself
separate, at least conceptually. We certainly want to lazy-load the data
associated with the grid (UVars) -- you have no idea what the user might
want, and how much they might want.

But for the grid itself, I'm not sure you can d

[2015-10-22 15:46] ChrisBarker-NOAA opened #106 "Notebook Example: connectivity_test broken"
Probably because the data set it's testing on is no longer there.

Also, after loading the gird, it directly accesses the netcdf to load the data -- but tha can now be done with a UVar.

[2015-10-22 15:52] ChrisBarker-NOAA opened #107 "Add a nice __str__ to ugrid"
It would be good if one printed a UGrid object, you'd get something helpful, maybe:

UGRid instance:
number of nodes: n
number of faces: m
.....

[2015-10-22 15:58] ChrisBarker-NOAA opened #108 "Check / update notebook examples with Cartopy."
We should make sure these still work.

[2015-10-23 07:52] rhattersley commented on #108
Where are they? I couldn't find a link from the [code](https://github.com/pyugrid/pyugrid) or the [docs](http://pyugrid.github.io/pyugrid).

[2015-10-23 08:35] rhattersley commented on #108
[Doh!](https://github.com/pyugrid/pyugrid/tree/master/notebook_examples) :unamused:

[2015-10-29 22:36] ChrisBarker-NOAA opened #109 "Fortran / C array order?"
currently in py_ugrid code, there is stuff like:

[code]

this is because some people store the arrays in fortran order, and some in C order.

However, this is fragile, at least for small grids, where you could happend to have the same number of cells as the order of your grid  i.e. four cells on a quad grid.

Granted, girds this tiny are more likely to be encountered in test datasets than real li

[2015-10-29 23:57] rsignell-usgs commented on #109
We definitely want to allow for both orientations, as FVCOM writes them `[3, nfaces]`, ADCIRC writes them `[nfaces, 3]`.  And you can't change this via NcML.   So I would like an attribute also, and I guess  `array_order="F|C"` is okay, since we would define which orientation was which in the standard.   I was thinking something of an attribute like `dims = "nmax nfaces", but perhaps thats not imm

[2015-10-30 16:19] ChrisBarker-NOAA commented on #109
OK -- we should post a pull request on the standards project...

As for logic --

1. -- yup
2. -- I don't think we yet know the number of faces. So the logic I have used it to see if one of the dimensions matches the number of nodes per face. (i.e. 3 for triangles). which means the only fail case is when you happen to not only have a small number of faces, but it's exactly the order of the faces -

[2015-11-12 17:11] hrajagers commented on #109
Hm, why didn't I notice this during the implementation? Probably too limited (biased) set of test files. I'm not sure about the array_order attribute since it depends how you store the elements in your program. There might be a most common order for a certain language but this is not actually a requirement of the language. What I would suggest is an attribute listing the ids of the face, edge, nod

[2015-11-12 19:14] bekozi commented on #109
@ChrisBarker-NOAA, sorry for not responding to this sooner!

This is the method I would prefer. An attribute on "mesh_topology" called something like "face_count_dimension_index" with a value of 0 or 1 would explicitly state which dimension is to be used for face count. I think this is similar to what @hrajagers is suggesting. Arguably, "face_count_dimension_name" could be used as well.

Whatever

[2015-11-12 20:47] rsignell-usgs commented on #109
@bekozi @hrajagers this is great.  I was struggling with the `C|F` idea and didn't know why, and you clarified the issue.

@hragers did you mean adding attributes like `face_dimension=<dim_name>`, for example, for this dataset:

http://www.smast.umassd.edu:8080/thredds/dodsC/FVCOM/NECOFS/Forecasts/NECOFS_FVCOM_OCEAN_MASSBAY_FORECAST.nc.html

we would add this attribute to the variable `nv`:  `face

[2015-11-13 01:03] ChrisBarker-NOAA commented on #109
@hrajagers:

"""
why didn't I notice this during the implementation? Probably too limited (biased) set of test files.
"""

Maybe, but actual, it seems to me the standard is clear, and I'd be happier if people jsut conformed to it ;-) -- but I guess what @rsignell-usgs is getting at is that FVCOM (at least) dumps it the "wrong" way, and we'd like to be abel t make those files complaint via ncML.

"

[2015-11-13 08:53] hrajagers commented on #109
The problem with "F" and "C" is the following: what makes most sense in Fortran is (for triangles) to define a 3xNFaces array and in C a NFacesx3 array. In both cases this will cause the node indices of one face to be consecutive in memory. If you subsequently store these arrays via the language specific NetCDF interface, you will -- in both cases -- end up with a NFacesx3 array in the NetCDF file

[2015-11-13 14:55] rsignell-usgs commented on #109
@hrajagers, it was a little hard for me to follow what you would actually prefer, but I think you are suggesting that setting an attribute called `face_dimension` to specify the face dimension name,  so that a complete example for FVCOM would look like this (where all we've done new is add the last line):
[code]
Is this what you are suggesting?

[2015-11-13 16:49] ChrisBarker-NOAA commented on #109
the default convention is the most logical one for both programming
languages.

Interesting, but makes sense. I would hope that people writing code would
look at the no files in CDL form, to see if they got it right. But I
suppose this kind of thing is why netcdf names dimensions.

I have the same concern about "row-major" or "column-major" since "row" and
"column" only have a meaning in the progr

[2015-11-13 16:52] ChrisBarker-NOAA commented on #109
I think you are suggesting that setting an attribute called face_dimension
to specify the face dimension name, so that a complete example for FVCOM
would look like this
fvcom_mesh:face_dimension = "nele" ;
I think that's it, yes. I suppose we'd need:

edge_dimension also ( and some for 3-D )

CHB

[2015-11-13 16:54] hrajagers commented on #109
@rsignell-usgs, yes, something like that. When using dimension ids I can think of three possibilities:

1. face_dimension = "nele" as an attribute on the mesh variable as your example shows. The user should also specify the edge_dimension = "..." if there is an edge_node_connectivity table. Possibly a node_dimension could be allowed although that one could be derived from the dimension of the requ

[2015-11-13 17:14] ChrisBarker-NOAA commented on #109
Thanks Bert.

I vote for option 1 -- dimensions are global to the dataset anyway. lets hope no one used tow different dimension names that mean the same thing, and have the same value!

I think option would be a pretty clear to a human, but a fair bit more of a pain for a computer to parse and check.

[2015-11-13 20:48] ChrisBarker-NOAA commented on #109
Looking at the py_ugrid code, we are calling the dimension used for edges "two". Which I think is OK, as an edge will always have two nodes, by definition. But maybe we should use something more descriptive?

[2015-11-13 21:01] ChrisBarker-NOAA commented on #109
OK -- got a start on this in the array_order branch.

so far, only writes the attributes, does use them -- that was the easy part :-)

[2015-12-11 17:59] ChrisBarker-NOAA opened #112 "How to deal with optional dependencies?"
There are a few optional dependencies in py_ugrid:

kdtree, and the new celltree2D (If the PR is excepted)

How do we deal with that?

1) how to specify optional deps in setup.py and conda recipe?

2) what do we do in tests?
  - check for the dep, and only run those tests if it's there?
  - assume they are all there for all the tests to pass?
 - have a flag for the test suite to run or not run tho

[2015-12-12 15:12] ocefpaf commented on #112
There is an ["extra"](https://pythonhosted.org/setuptools/setuptools.html#declaring-extras-optional-features-with-their-own-dependencies) option that I never used.  You can install thing almost in a context like fashion with it.  For example `pip install ipython [notebook]`.

However, I'd rather not install anything, or choose one that we recommend, and let the `ImportError`+ documentation tell us

[2015-12-14 16:38] bekozi commented on #112
The flexible mesh branch is a bit stale, but it does contain an approach to optional dependency installation and testing: https://github.com/NESII/pyugrid/blob/i96-flexible-mesh/.travis.yml.

[2016-02-12 12:37] ocefpaf opened #114 "Bad merge"
Apparently we had a bad merge at some point and `ugrid_wx.py` is corrupted.

https://github.com/pyugrid/pyugrid/commit/44e3cfda3c93bc614bc44e8e2eecfda13815164e#commitcomment-16058922

I could not find a PR that correspond to that change, nor we have tests that could catch it.

I am working in the tests now\* but we need to figure out what to do with that file:

- revert to a previous state?
- ask

[2016-02-12 13:08] ocefpaf opened #115 "print statements in test files"
There are many `print()` statements on several test files.  I guess they were added for debugging, but I wonder if it is time to remove them.

@ChrisBarker-NOAA I can send a PR for that.  I just want to her from you first.  Maybe there is another reason for those print statements.

[2016-02-12 16:05] ocefpaf commented on #89
@ChrisBarker-NOAA I believe we can close this issue.

[2016-02-12 16:23] ChrisBarker-NOAA commented on #89
what is the resolution? the recipe I hvae that's working:

https://github.com/NOAA-ORR-ERD/orr-conda-recipes/blob/master/pyugrid/meta.yaml

has the whoie pile of dependencies. I haven't tried it without them. But if you've got it building without them, then yes, let's close this issue.

[2016-02-12 16:37] ChrisBarker-NOAA commented on #114
what's the status of this? All my fault, i was messing around with reading non-ugrid files, and did not mean to commit the changes to ugrid_wx.py

Do I need to go in and clean that up?

[2016-02-12 16:48] ocefpaf commented on #114
What do you think about those 3 suggestions?  I am leaning towards the last one.

I like the wx stuff, but should that be part of the `pyugrid` module?  wxPython is problematic as a dependency and the code GUI won't be used in applications that need a lightweight implementation of `pyugrid` (like `sci-wms`, `xrray`, `iris`, etc).

Pinging @cbcunc, @rsignell-usgs and @rhattersley for their option t

[2016-02-12 16:54] ChrisBarker-NOAA commented on #114
I'd like to leave it in -- it's really too small to bother with a package all its own, and small enough not to get in the way.

It's fine to not have it as a listed dependency -- conda nor pip have a good way to handle optional dependencies, but I could add some code to have it give a nice message if wx isn't there at run time.

So it can just sit there and not get in the way.

(and I'll try not t

[2016-02-12 16:57] ChrisBarker-NOAA commented on #115
well, the test frameworks capture stdout, and only show it when there is a failure -- when it's nice to have them.

It's kind of a style thing as to whether to leave them or not once the tests are all running fine. In theory, I remove them, but I guess I get lazy.

So: go ahead and remove them if you want, but I don't see it as important.

[2016-02-12 17:32] ocefpaf commented on #115
I agree that it is not important, but it is a distraction when reading the test code and adding new tests.  BTW pytest does a good job of output the failure information at various levels of verbosity.

[2016-02-12 17:34] ocefpaf commented on #114
- revert to a previous state?
- ask the original author to fix it?
- ~~remove ugrid_wx.py from pyugrid and let that be a separate module?~~

I can do the first option, but I guess you are the author in case you want the latter, right?

[2016-02-12 17:35] ocefpaf commented on #89
I don't have adim rights to close.

[2016-02-12 17:38] ocefpaf commented on #69
I would add a rename of `ugrid-conventions` to ugrid.

(Or maybe a GRID org and move both `pyugrid` and `pysgrid` conventions docs and python modules there. :grin:)

[2016-02-12 17:40] ChrisBarker-NOAA commented on #115
sounds good.

BTW, thanks for doing all this housekeeping!

[2016-02-12 17:41] ChrisBarker-NOAA commented on #114
yeah, let me fix it -- there may be a change or two in there we want to keep.

[2016-02-12 17:42] ChrisBarker-NOAA commented on #89
hmm -- we should give you those. but for now, I'll close this.

[2016-02-12 17:42] #89 closed

[2016-02-12 17:44] ChrisBarker-NOAA commented on #69
actaully, yes -- I think we all want to see more cooperation between the projects.

I've been thinking "stargrid" -- as in *grid, or any grid.

but maybe that would confuse people, having nothing to do with stars....

OGrid for Oceanography Grids ?

[2016-02-12 17:45] ocefpaf commented on #115
I am working on some of the APIRUS improvements we discussed.  I already started with `pysgrid` (see https://github.com/sgrid/pysgrid/pull/77 and https://github.com/sgrid/pysgrid/pull/72). However, `pyugrid` has a bigger code base and I need to familiarize myself with the it first.  Housekeeping stuff is good for that :wink:

The first PR will be the proposal to remove the `from_ncfile` and `from_

[2016-02-12 17:58] ChrisBarker-NOAA commented on #115
The first PR will be the proposal to remove the from_ncfile and
from_nc_dataset and add a single load_grid method.

Yeah, can't remember why I did it that way. It is kind of klunky.

—
Reply to this email directly or view it on GitHub
<https://github.com/pyugrid/pyugrid/issues/115#issuecomment-183426908>.

[2016-02-12 18:05] ocefpaf commented on #115
I'll start as soon as we solve #116 to avoid merge conflicts.

Not sure about the state of #98  and #111.  It would be nice to get those two sorted out as well.

[2016-02-12 20:01] ocefpaf commented on #100
The way `get_variables_by_attributes` works we can have all the same behavior without any loos of functionality and still merge the functions mentioned above.

Indeed, but not right now. So maybe that should be left some new code that perform compliance checking. (I have a few ideas...)

[2016-02-12 20:45] ChrisBarker-NOAA commented on #100
sounds good -- are we OK with counting on the new netCDF4 version? What with conda and all, I think yes. I doubt anyone is using this with legacy code that they can't update libs for...

[2016-02-12 20:51] rsignell-usgs commented on #100
:+1:  from me.   Forward and onward.

[2016-02-12 20:54] ChrisBarker-NOAA commented on #100
let's put the >=whatever_version in the requirements and go for it.

[2016-02-12 23:26] ocefpaf commented on #100
Some time ago I would recommend to subclass the `Dataset` and re-implement the method to ensure compatibility with older versions of `netcdf4-python`, but today, after a few releases of `netcdf4-python` with that method, I think it is OK to just:

:+1:

[2016-02-12 23:27] ocefpaf commented on #58
I guess this one can be close :wink:

(Or updated to 2016!)

[2016-02-12 23:50] ChrisBarker-NOAA commented on #58
YUp -- I jsut got the note about SciPy this year, and will likely be there -- hopefully many of us will.

But let's wait before planning stuff.

[2016-02-12 23:50] #58 closed

[2016-02-13 01:02] ChrisBarker-NOAA commented on #114
OK -- cleaned up and pushed to master.

[2016-02-13 01:02] #114 closed

[2016-02-13 17:51] ocefpaf commented on #53
I believe that this issue can be closed.

[2016-02-13 17:55] ocefpaf commented on #52
@ChrisBarker-NOAA I would defer that to a CF-interpreter or users input.  As long as the `UGRID` conventions say that projected coordinates are OK and `pyugrid` can find them, it is up to the user to explore the metadata and figure out what to do.

`xarray` does something very simple when it comes to metadata like that.  It just reads them and put in a big dictionary where it is the user responsib

[2016-02-13 17:56] ocefpaf commented on #18
Another issue that can be closed.

[2016-02-13 17:59] ocefpaf commented on #20
I guess most of us is using that work-flow.  We should close this issue and write some coding standards/developer guide in the wiki or in the docs.

I really like iris' docs for that:

http://scitools.org.uk/iris/docs/latest/developers_guide/index.html

(BTW I believe we can close this issue too.)

[2016-02-13 18:05] ocefpaf commented on #50
There is also
-  [OCGIS tools](https://github.com/NCPP/ocgis):  I  believe it can read ugrid;
- [gridgeo](https://github.com/pyoceans/gridgeo): use `pyugrid` to save shapefiles, GeoJSONs, etc;
- another one that @cbcunc mention at SciPy 2015 but I cannot remember;
- the example notebooks in the repository.

So I guess we have plenty options.  Close this one?

[2016-02-13 18:20] ocefpaf commented on #23
@rsignell-usgs a new version of that notebook works:

http://nbviewer.jupyter.org/gist/ocefpaf/622faf8cdeaa666edcee

@ChrisBarker-NOAA let's close this issue.

[2016-02-13 18:21] ocefpaf commented on #99
Close this issue? @rsignell-usgs and I looked a lot at that code :smile_cat:

[2016-02-13 18:25] ocefpaf commented on #22
@ChrisBarker-NOAA you can assign me to this task.

- [ ] test `edges_connectivity`
- [ ] add a dataset with edges define
- [ ] check the API and implement unittests

[2016-02-13 18:28] ocefpaf commented on #31
With `None` one can write this:

[code]

Verbose but very readable. Note that getting a `tuple` or `None` is OK with many APIs out there.

Are you OK closing this @rsignell-usgs?

[2016-02-13 18:30] ocefpaf commented on #40
Latest sci-wms uses `pyugrid` and of the points here are outdated.  I recommend we close this issue and ask @kwilcox to open new (and more specific) ones.

[2016-02-13 18:42] kwilcox commented on #40
:+1:

[2016-02-13 18:57] ocefpaf commented on #86
@ChrisBarker-NOAA and @rsignell-usgs in a way this is a duplicate of #20.

[2016-02-13 18:57] ocefpaf commented on #103
Duplicate of #38.  Closing this one.

[2016-02-13 18:57] #103 closed

[2016-02-13 20:15] ocefpaf commented on #84
Maybe the [COMT](http://nbviewer.jupyter.org/github/ocefpaf/pyugrid/blob/notebooks_example/notebook_examples/COMT_example.ipynb
) notebook fulfills that goal.  We have ADCIRC, SELFE and FVCOM there.

We are having some trouble on the `pysgrid` repo because of that.  Even small binary files can bloat the repo very quickly if we modify them.  I would suggest to avoid committing netCDF files.  We can

[2016-02-13 20:33] ocefpaf commented on #82
Right now wxPython is the only optional dependency. PRs #111 and #98 might add a few.

- `cell_tree2d`
- `gdal`
- `shapely`
- `fiona`
- `mpi4py`
- `rtree`

That is a staggering amount of dependencies and some of those are hard to install.  I would like to start a discussion to make those PRs external modules that uses `pyugrid` rather than part of `pyugrid`.

Ping: @cbcunc, @ChrisBarker-NOAA, @rsi

[2016-02-13 20:41] ocefpaf commented on #82
Bonus points for those who read the blog and watch the video :smiling_imp:

http://matthewrocklin.com/blog/work/2013/07/02/Packages

[2016-02-14 02:51] ChrisBarker-NOAA commented on #20
Good idea to have a guide -- maybe this isn't big enough to need something as extensive as Iris' -- but why not? I say we start by cribbing theirs.

[2016-02-14 02:51] #20 closed

[2016-02-14 14:11] rsignell-usgs commented on #20
@ChrisBarker-NOAA , awesome.   Sounds like we are all on board.

[2016-02-14 15:25] #108 closed

[2016-02-14 15:31] ocefpaf commented on #106
@rsignell-usgs GitHub failed to close this automatically. This was solved by #117.

[2016-02-14 15:31] ocefpaf commented on #60
@rsignell-usgs GitHub failed to close this automatically. This was solved by #117.

[2016-02-14 15:31] ocefpaf commented on #23
@rsignell-usgs GitHub failed to close this automatically. This was solved by #117.

[2016-02-14 15:44] ocefpaf opened #121 "Write unittest for `io.utils.py`"
The file:

https://github.com/pyugrid/pyugrid/blob/02786a40786c9dde3305e181aa534f7aef83354d/test/test_io_util.py

introduced in https://github.com/pyugrid/pyugrid/commit/02786a40786c9dde3305e181aa534f7aef83354d has no tests.  I can assign myself if no one else is working on this.

Ping @ChrisBarker-NOAA to create the assignment as I do not have adim right here.

PS: Naming a submodule `io` is usua

[2016-02-14 18:50] rsignell-usgs commented on #60
Strange that Github didn't close this. But yes, we have a example now
at
https://github.com/pyugrid/pyugrid/blob/master/notebook_examples/vector_plotting_example.ipynb
(thanks @ocefpaf)
p.s.  do streamlines work correctly with unstructured grid data?

[2016-02-14 18:51] rsignell-usgs commented on #23
Yes, closing here.

[2016-02-14 18:51] #23 closed

[2016-02-14 18:52] ocefpaf commented on #60
Not sure.  I guess that the issue there might be the masked array, but that needs more digging.

[2016-02-14 19:14] rsignell-usgs commented on #60
I'm reopening this here because this isn't really an interoperable UGRID velocity example.   I tried a FVCOM dataset (url = ('http://www.smast.umassd.edu:8080/thredds/dodsC/FVCOM/NECOFS/Forecasts/NECOFS_GOM3_FORECAST.nc')
and it did not produce the correct plot.    The example
https://github.com/pyugrid/pyugrid/blob/master/notebook_examples/vector_plotting_example.ipynb
assumes that the velocity p

[2016-02-14 19:39] ocefpaf commented on #60
Makes sense.  Let's just change the issue title to be `interoperable UGRID velocity example` and I will re-visit it soon. (Want to finish the `load_grid` stuff first.)

[2016-02-15 10:55] ocefpaf opened #125 "load_grid method/function"
I implemented a `load_grid` static method on `pysgrid` and, as we discussed in APIRUS, I am working on implementing the same here.

Right now we have 4 ways of loading the grid.  The UGrid class methods `UGrid.from_ncfile` and `UGrid.from_nc_dataset` and the functions `load_grid_from_ncfilename` and `load_grid_from_ncfilename` and `load_grid_from_nc_dataset`.

My plan is to implement the function

[2016-02-15 11:34] #60 closed

[2016-02-15 12:06] ocefpaf opened #126 "Plotting submodule"
There was a talk about adding some plotting routines and/or a submodule at SciPy 2015, but I could not find a specific issue so I am opening this one.

@rsignell-usgs mentioned:

That is a good place to start.

[2016-02-15 13:38] ocefpaf opened #127 "Work around the use of nc.filepath"
The method `nc.filepath` fails when netCDF4-python is installed without Cython.

- [ ] add a unittest for this
- [ ] implement the same workaround from `pysgrid`.

[2016-02-15 16:27] #50 closed

[2016-02-15 16:35] ChrisBarker-NOAA commented on #99
Let's just remember to look at that code as we move forward.

[2016-02-15 16:35] #99 closed

[2016-02-15 16:46] ChrisBarker-NOAA commented on #18
we can start a new one for this year if it's relevant.

[2016-02-15 16:46] #18 closed

[2016-02-15 16:47] ChrisBarker-NOAA commented on #53
Still a good idea... but @ocefpaf has been doing a one-man sprint!

[2016-02-15 16:47] #53 closed

[2016-02-15 16:49] ChrisBarker-NOAA commented on #22
maybe run coverage, too?

[2016-02-15 16:53] ocefpaf commented on #18
:+1:

[2016-02-15 17:26] ocefpaf commented on #22
Yep.  I updated the list above with that.  It should be fairly simple with `py.test`.

[2016-02-15 17:30] ocefpaf commented on #53
I it is never a `one-man` when using GitHub and PR &rarr; Review  &rarr; Merge workflow :wink:

(I always blame all bad code I write on the reviewer. :smiling_imp:)

[2016-02-15 17:59] ocefpaf commented on #22
OK. I have something ready, but to avoid more merge conflicts can we sort #124, #120, and #119 out first?

[2016-02-15 18:02] ocefpaf opened #129 "Fix add_attributes() test"
That test is not being execute (and would fail if so due to a typo):

https://github.com/pyugrid/pyugrid/blob/95f8ab8c7ccd2d7edc6bc586f62536aac60712ed/test/test_uvar.py#L60-L68

I have a fix here, but I am waiting for a few PRs to get merged to avoid conflicts.

[2016-02-15 23:44] ChrisBarker-NOAA commented on #31
well, it should be:
[code]
but anyway, I think non edges is different than zero edges -- you should only get zero edges if the mesh has zero faces....

I'll close, and someone can re-open if s/he really thinks this is the wrong way to go.

[2016-02-15 23:44] #31 closed

[2016-02-15 23:47] ChrisBarker-NOAA commented on #52
OK, it may "just work" as it is anyway -- but I'd rather than the py_ugird API was complete, the user shouldn't have to go examine the netcdf file directly to know what things mean -- and there may not BE a netcdf file anyway.

But let's cross that bridge when we come to it.

-CHB

[2016-02-15 23:47] #52 closed

[2016-02-15 23:49] #40 closed

[2016-02-15 23:50] ChrisBarker-NOAA commented on #86
yup, this is kind of stale now -- closing.

[2016-02-15 23:50] #86 closed

[2016-02-16 00:08] ChrisBarker-NOAA commented on #84
yes, let's do that -- probably borrow code from pysgrid.

and we and NOAA-ERD can host sample files if need be -- we are doing that a lot for py_gnome:

https://gnome.orr.noaa.gov/py_gnome_testdata/

Once we pick a place, anyone can add the download-to-test code.

I'd really like some small, but not totally trivial examples ......

[2016-02-16 00:21] #83 closed

[2016-02-16 00:39] ChrisBarker-NOAA commented on #82
I read the blog post -- good points. But note that he also addresses the absurdity of taking it too far.

In this case: there is substantial overhead in maintaining 5 or six separate packages. in practice, py_ugrid has been around for a couple years, and seen very little development, until the recent flurry. So I don't think making it HARDER to contribute and maintain is a good idea.

And a lot of

[2016-02-16 00:49] ocefpaf commented on #84
Take a look at the new notebook examples and let me know what is needs to be done.  Something wih `py_gnome` sounds interesting. (Most of our stuff is focused in interoperability and that can get boring really fast.)

[2016-02-16 01:08] ocefpaf commented on #82
To be completely honest since conda I don't worry too much about dependencies. Take `iris` and `cartopy` for example, they were a nightmare to install a few years ago before conda packages.

I am more worried about the scope of the library.  I see `pyugrid` and `pysgrid` like a thin grid parser that knows about the grid and expose that information to other libraries.  Maybe that :ship: has :boat:

[2016-02-16 01:44] ChrisBarker-NOAA commented on #121
This really needs more than unit tests -- it needs to be fleshed out, which I haven't had the chance to do.

But this is code for helping you write a ugrid reader for non UGRID-compliant files -- so we need a non-UGRID complient test file to test against. I had one I needed to import, but we need a way to handle larger binary test files before we can really do this.

I think this one could be used

[2016-02-16 01:56] ChrisBarker-NOAA commented on #125
This all looks good -- I _think_ we had a reason for the separate methods at some point, but I can't remember what it was. So good to clean this up.

[2016-02-16 02:21] ChrisBarker-NOAA commented on #126
Awesome!

[2016-02-16 02:26] ChrisBarker-NOAA commented on #82
Well, CellTree is a utility, much like rtree or kd-tree, but designed specifically for this kind of use case.

Give it a try -- I suspect it's performance will be substantially better than either of those other options -- that's why we wrote it :-)

But yes, we could have a navigable-ugrid package that used those things...

-CHB

[2016-02-16 09:23] ocefpaf commented on #82
I am looking forward to move my stuff to `cell_tree`! Sounds very promising.

[2016-02-16 09:44] ocefpaf commented on #125
This works fine in `pysgrid`, but the internal logic there is slightly different than here. The main difference is that, in `pysgrid`m we pass netCDF variables instead of executing the full slices to get the deferred load for free and get the ugrid object right away without downloading the data immediately. Another one is the `nodes_{lon,lat}` attributes instead of the 2D `nodes` array.

This is f

[2016-02-16 09:57] ocefpaf commented on #121
Agreed. But I downloaded it here anyway to start playing with this.

How about `grid_io`?

[2016-02-16 15:33] ChrisBarker-NOAA commented on #121
How about grid_io?

Sure. Go for it :-)

-CHB

[2016-02-16 15:56] bekozi commented on #82
@ocefpaf, I am open to making the flexible mesh IO utilities an external module if that's the way ``pyugrid`` wants to go. All the extra dependencies are for reading from and writing to GIS files. The actual "flexible mesh" class does not require ``gdal``, ``shapely``, etc. The testing in #98 makes sure that all the optional dependencies do not interfere with operation of the trunk - so that's goo

[2016-02-16 15:59] ocefpaf commented on #82
I guess that is the right question.  Everything I said above is my opinion.

It would be nice to get a few comments from @pyugrid/owners.

[2016-02-16 17:36] ChrisBarker-NOAA commented on #82
I still think we should jsut keep it all together, and have the dependencies optional -- unless there is a reason other than dependencies to split it all up. But:

I actually see it in reverse. py_ugrid, in any case, is a standard container for UGRIDS, and the logic required to work with those grids navigating the gird, interpolation, building the topology, etc. In fact, the first version of UGrid

[2016-02-16 18:44] ocefpaf commented on #82
If by logic you mean the UGRID conventions. Sure!  The idea is tempting. I don't think it is doable though because the UGRID logic is tied to the hip to netCDF files. (Same as CF, SGRID, etc.)

- navigating the grid: is an open statement and that is why I thinl it should be external. We can slice/index it. Anything else (whatever-Tree) is optional IMO.
- interpolation: the same as above.  What wil

[2016-02-16 18:52] #106 closed

[2016-02-16 18:59] ocefpaf commented on #90
#71 turn out to be a bad pattern and `versioneer`, even though it is very cool, needs [a lot of bolierplate](https://github.com/SciTools/biggus/pull/109/files) that I don't think we need in a small project like `pyugrid`.

I reverted #71 to a pattern that is commonly used in many projects, including Phil's cartopy and iris :wink:, in https://github.com/pyugrid/pyugrid/commit/536af1d0e97de64c958e2b

[2016-02-16 18:59] #90 closed

[2016-02-16 19:00] ocefpaf commented on #100
Note to self:

- [ ] find_data_sets
- [ ] find_mesh_names
- [ ] ...

[2016-02-16 19:33] acrosby commented on #82
I think I agree with @ocefpaf , and as a general rule prefer to have many lightweight sets of tools that build on one another rather than one super complicated do-it-all module that imposes particular ways of doing things under the hood. Additionally, given the way that I deploy software to HPC resources at OWI, I often am not using or relying on Anaconda.

Take all this with a grain of salt thoug

[2016-02-16 22:03] ocefpaf commented on #82
Let's work to solve that out. Can you point me to any code where you did that?  And/or write quick summary of what is the core you are using?

[2016-02-17 18:40] ChrisBarker-NOAA opened #133 "Use numpydoc for docs?"
The numpydoc package is a sphinx extension that enables "numpy style" docstrings:

https://github.com/numpy/numpy/blob/master/doc/HOWTO_DOCUMENT.rst.txt

This is a easier to read and write format for function signatures, parameter definitions, etc. py_ugrid is small enough that conversion will be not too big a deal, and it would be a nice way to go forward.

Anyone else like this idea?

BTW, secon

[2016-02-17 18:48] ocefpaf commented on #133
:+1: to numpydoc

[2016-02-17 19:37] ChrisBarker-NOAA commented on #133
While we are at it, we shold hve a way to easily (or ideally, automattically) build the sphinx docs for the github.io pages...

[2016-02-17 20:16] ChrisBarker-NOAA commented on #82
OK,

So I think we all agree that the goal here is to have a project that can and is widely used for a variety of use cases. But how do we get there?

@acrosby wrote:

sure -- but having multiple features in a library neither makes it super complicated, nor "imposes" a particular way of doing things. If there is an interpolation method in pyugrid, and you want to use a different interpolation meth

[2016-02-17 20:26] ChrisBarker-NOAA opened #134 "dev version?"
@ocefpaf  recently cleaned up the version handling -- we now simple set it in the **init**.py

but our most recent tag is 1.1.6, and the version string in master is 1.1.7, which is good. But maybe it should be "1.1.7dev"  or something, so that it's clear if anyone pulls from master that they are not getting a release.

[2016-02-17 20:28] ocefpaf commented on #82
Indeed. We need a more agile review system and some basic contributors guidelines/documentation for that to happen. I am travelling now, but I will work on the docs once I get back home.

Regarding the package functionalities and optional dependencies... To be honest we cannot answer any of that yet.  The package is young and we need to get it out there before figuring this out.

Note that the ext

[2016-02-17 20:31] ocefpaf commented on #134
The current released version is `v0.1.6`. PR #128 set is to `v0.2.0` (I will add the deve):

https://github.com/ocefpaf/pyugrid/commit/dab576916675ec8547c222d23c3c4c947482e91a#diff-9705109aa146a786dee6f2b80f1b01afR13

PS: Let's stop bumping the micro number, that usually represent bug fixes, and start bumping the major and macro.

[2016-02-17 20:56] #115 closed

[2016-02-17 20:59] #129 closed

[2016-02-17 21:16] acrosby commented on #82
@ChrisBarker-NOAA all fair points, I agree. I was waxing idealist before.

I think I need more clarity about the goals, is it an interface to netcdf-cf-ugrid that provides a common and consistent api or are there aspirations for more generalized topological functionality? I do see some utility in a the base class that has some high level functionality like nearest n features, walk elements/edges/n

[2016-02-17 23:25] ChrisBarker-NOAA commented on #82
Ye,s we do need to clarify goals, however, we did do a tiny bit of that (last SciPy?) in the form of what we wanted to API to support, and that included stuff like:

"give me a cross-section from this point to that point" etc.

And we are talking bout having py_ugrid and py_sgrid share a common API for that sort of thing. So it's always been clear (to me, anyway :-) ) that py_ugrid is about abstra

[2016-02-17 23:34] ChrisBarker-NOAA commented on #134
great, thanks!

well, we should follow semantic versioning rules -- bump the minor if you change the API -- which we have recently done with load_grid -- so yes, that's the way to go now.

I suppose also major enhancements should bump the minor, too.

IIRC, we bumped the micro number a lot when we were struggling with the pypi upload :-)

We should have some idea when we're going to go to 1.0 thou

[2016-02-17 23:50] ChrisBarker-NOAA commented on #126
to be clear, this would be a MPL-based plotting sub-module, yes?

[2016-02-17 23:55] ChrisBarker-NOAA commented on #127
I think Continuum just upgraded netCDF4 -- and version 1.2.2 seems to have a functioning filepath().

so can we just start requirement 1.2.2 and call this good?

[2016-02-18 00:00] ChrisBarker-NOAA commented on #125
This is in a PR now, yes? -- so closing.

[2016-02-18 00:00] #125 closed

[2016-02-18 00:01] ChrisBarker-NOAA commented on #121
looks like #132 deals with this -- closing.

[2016-02-18 00:01] #121 closed

[2016-02-18 00:29] ocefpaf commented on #127
The filetpath is available if netcdf4 was compiled with Cython. Still, even if continuum is using Cython now, we must add a workaround for it. (Not everybody uses conda .)

 I have the code here. Sending the PR soon.

[2016-02-18 00:29] ocefpaf commented on #126
:+1:

[2016-02-18 14:09] acrosby commented on #82
@ChrisBarker-NOAA OK sounds good. So I guess the next step is to ensure that the PR's *do* use some sort of try/except or conditional importing for the extra dependencies and functionality that depend on them. I suppose an optional requirements.txt would be a good addition in this case, and the PR's could provide changes to it for their `optional` dependencies.

I would also be inclined to add a t

[2016-02-18 16:08] ChrisBarker-NOAA commented on #82
I would also be inclined to add a text/summary output as part of the
setup.py install that spits out what external modules were found, and what
functionality is or is not available as a result--how does that sound?

So far, these are all run-time dependencies, so I'm not sure this is
helpful.

I don't think pip has a way to di such a check/display such a message at
install time.

Conda may -- I'm

[2016-02-18 16:14] acrosby commented on #82
Yeah, we would have to add our own routine to be called during the setup.py. They are runtime dependencies, so you are right, it doesn't really matter at install time.

[2016-03-03 09:51] svater opened #135 "support for time dependent data sets"
The CF convention allows for time dependency, which should be also allowed in a UGRID file. There are even examples in the ugrid-conventions for this. If a variable is time dependent, an additional (unlimited) time dimension and variable has to be added in the file and the variable becomes two-dimensional with the first dimension being the time dimension and the second one being the dimension base

[2016-03-03 10:03] svater commented on #135
Just for reference, I just saw that #28 already refers to this topic.

[2016-03-03 10:12] ocefpaf commented on #135
@svater I am not really sure of what you are proposing here.  I have to admit that I don't pay much attention to `Uvar` as I am mostly interested in the `UGrid` functionality. I use other objects (raw `netCDf4-python` variables, `iris.cube`  and `xray` objects) to deal with the non-grid variables while using `Ugrid` to parse the unstructured grid for me.

However, @rsignell-usgs and @ChrisBarker-N

[2016-03-03 17:14] jay-hennen commented on #135
This is an issue that I'm currently dealing with in the code I'm writing for pygnome. `pyugrid` and `pysgrid` variables and grid both have no concept of time. However, one primary operation in our use case is interpolating the variable in time, before then interpolating in space. Currently the time interpolation is being implemented 'one level' up in the program. A container class `VectorField` ha

[2016-03-03 17:53] ocefpaf opened #136 "Fix inconsistency use of arrays and netCDF4-variables"
See https://github.com/pyugrid/pyugrid/pull/132/files#r54918724

[2016-03-03 19:58] ChrisBarker-NOAA commented on #135
I"ve come to the conclusion that yes, we need to handle time and z, once way or another. If you look at the conversation in #28, we were hoping to punt to Iris (or maybe now xarray) for that, but:

1) As much of the IRIS team likes the ides of supporting UGRIDs, they haven't done anything on it for a couple years -- and the IRIS code base is too painful for me to try to figure out how to do it.

2

[2016-03-04 13:18] ocefpaf commented on #135
Not sure if we need to do this at the grid handling level. I guess that I am being thick headed thinking about `pysgrid` and `pyugrid` as grid handling tools only.

As someone that contributed to iris I agree with your assessment, but we don't need to get `pyugrid` into `iris`.  I use both tools when working with CF-/UGRID-compliant files in production. Same is true for `xarray`. Maybe, if one day

[2016-03-04 15:47] jay-hennen commented on #135
Just would like to mention that finding the nearest node to a point (`locate_nodes()`) and locating the face which contains a point (`locate_faces') are available in pyugrid right now. I assume your use case goes past just those two functions, however. :)

I hear you about pysgrid/pyugrid being grid handling tools, and I think the only good argument for a grid to be time-aware is if it changes in

[2016-03-04 15:59] ocefpaf commented on #135
Thanks. (Actually those two are more than what I need :grin:)

Agreed. Not to mention that, once we compute z from the non-dimension form, we will be in trouble with a big array that depends on `eta(x, y, z, t)`. The best solution I found so far to deal with computed z is iris BTW.

What I am about to say is my personal opinion and by no means is what I will enforce (but I will suggest) in `py{u,s

[2016-03-04 17:07] ChrisBarker-NOAA commented on #135
I'm going to point out a little irony here -- on the one hand we are advocating splitting things up into multiple packages that each only do one thing -- makes some sense. On the other hand, we don't "need" to put in certain functionality, because it already exists in Monster Monolithic projects like Matplotlib. OK, I've said that :-)

As it happens, we only just discovered that MPL includes a "fi

[2016-03-04 17:09] ChrisBarker-NOAA commented on #135
@svater: AS you see, it's unclear right now where time handling code should go, but yes, we do need it, so concrete suggestions are all good.

[2016-03-04 17:14] ChrisBarker-NOAA commented on #135
NOTE:
""" I use other objects (raw netCDf4-python variables, iris.cube and xray objects) to deal with the non-grid variables while using Ugrid to parse the unstructured grid for me."""

While this works fine for some (most) cases, it only works if your data are all in netcdf files (or openDAP servers compliant with the netcdf lib) -- but it's one level of abstraction too low -- what if the data ar

[2016-03-04 17:25] ocefpaf commented on #135
I think is a mistake.  I would love to see the tri-stuff out of Matplotib.  (Together with the in_polygon-stuff.)

I only realized that after SciPy. @tacaswell made a quick comment that made me curious and I went to check it out.  I guess it is not well advertised. (I pinged him here hoping he will comment some more on the tri-stuff.)

Iris is an abstraction for CF and not netCDF.  It can deal wit

[2016-03-04 17:29] ChrisBarker-NOAA commented on #135
Exactly :-) -- which is why it would all work out great if IRIS or xarray *used* py_ugrid, etc. in order to take advantage of that abstraction, it all needs to work together.

Also -- probably a documentation issue more than anything, but creating a set of IRIS cubes from scratch is challenging...

[2016-03-04 17:31] tacaswell commented on #135
The mpl triangulation code is used internally and I do not think we intend to expose it as part of the public api (so we can break it when ever we want :wink: )

@ianthomas23 is the correct person to ask about that code.

[2016-03-04 17:37] ocefpaf commented on #135
I would not mind re-writing my stuff every now and then to be able to use that without installing matplotlib. That code is awesome!

[2016-03-04 17:38] ChrisBarker-NOAA commented on #135
thanks @tacaswell -- though we actually have the opposite problem -- we may want to use the triangulation code -- so we need it to be a stable API....

I know @ianthomas23 didn't want to spilt it out as a separate library , and this is a good reason why -- if you keep it internal, you can mess with the internal API all you want.

NOTE: this is a reason to keep py_ugrid, py_sgrid, and whatever vari

[2016-03-06 18:42] ianthomas23 commented on #135
Hello folks.  I can confirm that, as a couple of you have commented, I haven't split out any of the mpl triangular grid code into a separate package because I don't want the hassle of leading a standalone project.  But also it is not intended to be a triangle mesh **handling** library, it is a triangle mesh **plotting** library and hence sensibly resides within a wider plotting library.  Admittedl

[2016-03-06 18:58] ocefpaf commented on #135
Thanks for the explanation @ianthomas23. Even thought I would love to see that code as a stand alone library out there I understand your points.

[2016-03-07 01:38] hetland commented on #135
One solution might be to just steal the code right out of MPL, and use it
in our code. A bit silly, but reduces the dependency, and does not get
broken when MPL changes.

Also, there is quite a bit of Triangle stuff in scipy now. I expect qhull
is a great way to do things. But that is an even more stringent dependency.

BTW what is the code in MPL? Last I checked it had moved. Any examples?

On Su

[2016-03-07 02:23] ocefpaf commented on #135
in our code. A bit silly, but reduces the dependency, and does not get
broken when MPL changes.

I thought about that, but right now I cannot do it. (I just added to my never ending TODO list.)

I made a very simple blog post using pyugrid and mpl [here](https://ocefpaf.github.io/python4oceanographers/blog/2015/07/20/pyugrid/).

[2016-03-07 09:57] rhattersley commented on #135
Jumping off from one of @ChrisBarker-NOAA's comments:

That's where I'd start too. It's always been my hand-wavy vision for this stuff, since before Iris even made it onto GitHub.

Personally I'd love to see Iris making use of a grid abstraction. We took a very first step in that direction when @cbcunc visited the Met Office, but unfortunately project constraints have prevented us taking this furt

[2016-03-07 16:45] svater commented on #135
It would be nice if we could keep with the topic of this issue. In my opinion the discussion about features of MPL to be included into py_ugrid or not is a bit off-topic.

Also, I think time dependent grids is a completely different topic. Although it is surely of great concern - actually, we have such grids, which are adapted in each time step and a triangle is devided into two or the other way a

[2016-03-07 17:11] jay-hennen commented on #135
There's code for this, in the `expanded_uvar` branch, which I think also contains some interpolation stuff and other improvements. I'll have to go back and check, it's been a while. The code isn't in `master` yet for vague reasons relating to uncertain design intent for the project, as far as I can tell. (aka idk why)

It should let you 'wrap' a netCDF `Variable` in a `UVar` and then use standard

[2016-03-07 17:25] ChrisBarker-NOAA commented on #135
@svater:

Yes, gotten a bit off-topic -- maybe a new issue is two is in order. But the key question here, which is on topic, is what functionality should be included in py_ugrid (what libs are used to get that is another matter...)

 `double Mesh2_waterlevel(time,nMesh2_face)`

Absolutely -- that should "Just work" at least I think so -- and UVars have been in PyUgrid from before it did anything u

[2016-03-07 18:38] ChrisBarker-NOAA opened #137 "Grid manipulation code?"
A discussion on #135 got side tracked onto what code we should have for grid manipulation, and where should we get it. So I'm starting this one to capture that better.

Highlights:
PR: #111 uses cell_tree2d (https://github.com/NOAA-ORR-ERD/cell_tree2d) to do point in-cell-location. That is kept as a separate project, because it's useful for py_sgrid, and potentially other projects as well. cell_tr

[2016-03-07 20:01] jay-hennen commented on #137
When I look at the mpl triangulation API, these are my impressions:
http://matplotlib.org/api/tri_api.html

`class matplotlib.tri.Triangulation(x, y, triangles=None, mask=None)`
Basically the same as a 'dumb' pyugrid. It represents the grid and nothing else.

`class matplotlib.tri.TriFinder(triangulation)`
Same functionality as `ugrid.locate_faces()`, but as a separate class. TrapezoidMapTriFinder

[2016-04-04 18:01] ChrisBarker-NOAA opened #139 "Add new features of the convention to the grid reading/writing code"
There have been some updates to the Convention. (or some in progress).

https://github.com/ugrid-conventions/ugrid-conventions/issues/26

https://github.com/ugrid-conventions/ugrid-conventions/pull/23

https://github.com/ugrid-conventions/ugrid-conventions/pull/29

We probably need to wait a touch for that to settle down, but I wanted to put the issue in to remind us to do it.

-CHB

[2016-04-12 10:27] ocefpaf opened #140 "License"
What type of BSD is used here? 2 or 3 Clauses? It would be nice to have a `LICENSE.txt` file too.

[2016-04-12 15:34] dharhas opened #141 "Submit a sprint for SciPy 2016"
Hey Y'all,

Are any of you attending SciPy 2016 & the Sprints? The last couple of years y'all sprinted on pyugrid. If you are planning to again, I'd like to request that you fill out the sprint registration form so folks now about it - http://scipy2016.scipy.org/ehome/146062/332969/?&&

- dharhas

[2016-04-12 15:40] dharhas commented on #133
readthedocs is a good way to autogenerate docs and its free. I ended up using googles docstrings conventions over numpy docs on my new modules since I think it is easier to read.

http://sphinxcontrib-napoleon.readthedocs.org/en/latest/example_google.html

[2016-04-12 21:13] ChrisBarker-NOAA commented on #140
either one is fine with me.

As a US Federal Employee, everything I write is Public Domain anyway...

and yes, once we decide, we certainly need a LICENCE.txt file

[2016-04-12 21:41] ChrisBarker-NOAA commented on #133
readthedocs or gitHub.io -- either way is fine -- I say whoever sets one or the other up first gets to decide :-)

as for google or numpy style -- I have no opinion. Again -- whoever wants to go through and update the docstrings first gets  to chose, as far as I'm concerned.

-CHB

[2016-04-12 21:42] ChrisBarker-NOAA commented on #141
I'll be there, and sure py_ugrid is as good anything to sprint on (or APIRUS and/or pysgrid)

[2016-06-07 16:52] bekozi commented on #96
I'd like to reboot the pull request for the flexible mesh implementation. The main holdup with the last attempt was the addition of multiple dependencies. I propose to make the flexible mesh object independent from the IO calls (i.e. read from shapefile, write to shapefile, write to ESMF format). This will keep the installation cleaner. Import errors will be thrown for the IO calls that require th

[2016-08-09 22:37] #96 closed

[2016-08-09 22:48] ChrisBarker-NOAA commented on #96
@bekozi: are these changes included in #142 ? or are yougiving up, or???

It did look like good stuff -- sorry we never worked out the kinks -- I'd rather it didn't all get lost.

[2016-10-04 16:38] bhlevca opened #145 "Support in pyugrid for node_coordinates other than latitude and longitude"
Hello,

I am working on a project to bring Python post processing tools to
[Delft3D-FM ](https://www.deltares.nl/en/software/delft3d-flexible-mesh-suite/), which will be part of the Open Source effort of the [Open Earth Tools](https://publicwiki.deltares.nl/display/OET/OpenEarth).

I am not affiliated with Deltares, but I am a Python proponent and I am helping them out and integrating it into my p

[2016-10-04 16:57] ChrisBarker-NOAA commented on #145
Thanks for the note -- and your work!

yes -- that is the idea -- it only takes someone to write the code. We tried to not hard-code triangles in there too much. If we did, it was an error. But someone that needs it is going to need to write the code -- but I'm looking forward to reviewing a PR :-)

The UGrid class simply uses "nodes". It is probably making assumptions aout floating point values a

[2016-10-04 17:20] bhlevca commented on #145
Yes, you are right, `read_netcdf` that causes the problem, specifically in `load_grid_from_nc_dataset`
[code]
This standard name should not be enforced or made configurable.

I am lost in acronyms, what kind of PR are you referring to?

 Did you mean that I should go ahead and make the change?  I don't know if I can commit to another job, but  I made and make changes in my subclass and derived cod

[2016-10-04 19:09] arthurvd commented on #145
In CF-1.6(/1.7) the specification of the underlying coordinate reference system/grid mapping of the grid (auxiliary) coordinates is optional, but when specified, this should always be with all of the *data* variables defined on those grids.
http://cfconventions.org/cf-conventions/cf-conventions.html#grid-mappings-and-projections :

[2016-10-04 19:14] ChrisBarker-NOAA commented on #145
OK, the trick here is that we've got to look for *something* to know that that particular variable is the x and y coordinates -- what does CF use for, for example, UTM coordinates.

a PR is a "Pull Request" -- it how gitHub lets you suggest changes to code to the developers. THere  is a lot of documentation on the web about how to do this -- here's one I found with a quick google:

http://kbroman.

[2016-10-04 19:20] ChrisBarker-NOAA commented on #145
"""
In CF-1.6(/1.7) the specification of the underlying coordinate reference system/grid mapping of the grid (auxiliary) coordinates is optional, but when specified, this should always be with all of the data variables defined on those grids.
"""
hmm, a bit ugly, but makes sense.

So, without having thought this out carefully, for UGrid I think it's easier. only the nodes use the CRS -- everything

[2016-10-04 19:42] arthurvd commented on #145
Fortunately not, UGRID states:

(https://github.com/ugrid-conventions/ugrid-conventions)

.

Not per se, there's actually also optional edge coordinates and face coordinates, and the data variables defined on those locations (e.g., fluxes and volumes, respectively) may, according to CF, have to specify the `grid_mapping` again.

But, I fully agree with your proposed approach of storing the CRS wit

[2016-10-04 19:47] arthurvd commented on #145
This is in fact in preparation by @SiggyF in his fork:
https://github.com/pyugrid/pyugrid/compare/master...SiggyF:fedor/flexiblemesh

He can tell better about the current status, and when a PR is appropriate, but don't start from scratch, because something is already in the making. (Maybe any followup discussion deserves a separate issue from the current lat/lon/node issue).

[2016-10-04 19:49] bhlevca commented on #145
Arthur is right. I noticed that in `read_netcdf.py` method `load_grid_from_nc_dataset` when loading data is parsing only for `node`  (in var.location) however there are also `face` and `edge` locations for various variables such as velocity.

I believe that most of the required changes are in one method `load_grid_from_nc_dataset`

[2016-10-04 19:55] bhlevca commented on #145
@arthurvd Thank you Arthur for pointing that out.  I am not starting anything at the moment in terms of expanding beyond triangles. I will follow what Fedor is doing and perhaps help if necessary.

My first priority is to have working solution for triangular meshes. I hope to pass the parsing phase for data variables. The location attribute is the last hurdle.

[2016-10-04 19:59] rsignell-usgs commented on #145
Requiring lat/lon coordinates has always been part of CF.  So even when you have 1D UTM x,y coordinate variables, you need to supply the 2D lat/lon coordinates.   I know these aren't typically stored with Delft3D FM, but could they be?
The impact on the file size would be tiny, right?

[2016-10-04 20:11] ChrisBarker-NOAA commented on #145
"""
Not per se, there's actually also optional edge coordinates and face coordinates, and the data variables defined on those locations (e.g., fluxes and volumes, respectively) may, according to CF, have to specify the grid_mapping again.
"""

right -- I didn't think hard. I'm thinking that we don't need to support having various coordinates with DIFFERENT systems. So there is ONE for the UGrid ob

[2016-10-04 20:13] ChrisBarker-NOAA commented on #145
hmm -- I'm thinking that we may not want to extend this requirement to UGRID -- (and it's note there yet). And it pyugrid can be very useful with other coordinate systems.

But what does pyugrid do if both UTM (for example) AND lat-lon are given?

[2016-10-04 20:37] arthurvd commented on #145
True, Delft3D-FM still needs to do this. In fact I have it in preparation on my local machine.
Blocker was not file size considerations, but rather: if my input files + model + output files are in a Cartesian/projected coordinate system (e.g. UTM, or some other lesser known location such as Hartebeesthoek94 / Lo23), than having to convert those coordinates to lat/lon during or right after the simu

[2016-10-04 21:03] arthurvd commented on #145
I'd say the client application can choose.
When used as input: Delft3D-FM reads an input UGRID file, it will do the following:
* if a grid mapping is found that is NOT EPSG:4326 then it runs the model simulation in Cartesian model (input coordinates in meters)
* otherwise it runs in spherical mode (lat/lon degrees)

When used as output: for postprocessing, both can be fine, matter of preference.
I

[2016-10-04 21:21] ChrisBarker-NOAA commented on #145
Well, UGrid is the client application. My thought is to say a given UGRid object only has one, and when loading a file, there should be a flag telling it what to load. defaulting to lat-lon.

Alternatively, UGrid could store both, and let the user code work with either, but I'm thinking that's more complication than we'd want.

[2016-10-04 21:24] arthurvd commented on #145
Sounds pragmatic: pending any standardization discussions, it is always convenient for the user to optionally enforce a certain coordinate system preference.

[2016-10-05 20:29] bhlevca opened #146 "UGRid class limits adding data variables to vectors or enforces the first dimension to be the mesh dimension"
Hi,

I noticed that the  `UGrid` class in `add_data` correctly checks on dimension size to be that of the mesh. However,  for two dimensional variables (e.g. sea_level in time) the first dimension can be time and it is my case. In this case the length check obviously fails.

There is the option to transpose all the data variables before creating `UVar` and adding it to `UGrid `,  but I am wonderin

[2016-10-07 16:39] jay-hennen commented on #146
It's very likely that within the next few months the role of the UVar will change significantly. I would not depend too heavily on it's structure or relationship to the UGrid at this time.

[2016-10-07 16:48] bhlevca commented on #146
I started coding my framework base on pyugrid since it has most of the functionality that I need rather than reinventing the wheel.   Since this is the stage at which `UVar` is,  I am using it as is.

I posted the issue just to raise awareness that the data vars in `UVar` are flat while most CF files have an additional time dimension.

I went forward by transposing the data var matrix and subclass

[2016-10-08 17:08] ChrisBarker-NOAA commented on #146
I posted the issue just to raise awareness that the data vars in UVar are
flat while most CF files have an additional time dimension.

Or additional dimensions....

I actually ran into this a while back, and did work on extending UVar to
properly support added dimensions.

The code has not made it into master.

And looking now, it doesn't look like it's made it to github either :-(

I'm on Vacatio

[2016-10-10 02:45] QuLogic opened #147 "Documentation is outdated"
The latest tagged release is 0.2.2. The small description on the front page here links to http://pyugrid.github.io/pyugrid, which claims to be documentation for 0.1.3. (Also, it should be an https link.)

[2016-10-11 13:29] rsignell-usgs commented on #147
@jay-hennen , since you issued the last release https://github.com/pyugrid/pyugrid/releases, can you handle this issue please?

[2016-10-11 15:38] ChrisBarker-NOAA commented on #147
On Tue, Oct 11, 2016 at 6:29 AM, Rich Signell <notifications@github.com>
wrote:

I'll do it.

But for the future, it wuld be better if a CI could do this for us --
anyone know how to trigger a CI run when a release is tagged?

Also --those docs are really minimal anyway -- good for them to be up to
date, but better for them to be good :-)

So -- PRs for better docs welcome!

-CHB

[2016-10-11 15:43] ChrisBarker-NOAA commented on #146
I'm back, turns out I had that code in a branch in my fork.

But I just pushed the branch (multi_dim_uvar) to this repo:

https://github.com/pyugrid/pyugrid/tree/multi_dim_uvar

It is not ready, but if you want to make this work, that would be a good place to start.

[2016-10-11 22:23] bhlevca commented on #146
Thanks Chris. I will have a look next week after I am done with the current task.

[2016-10-11 22:28] ChrisBarker-NOAA commented on #147
Docs updated on gh-pages, and cleaned up documentation in PR: #148

[2016-10-11 22:29] ChrisBarker-NOAA commented on #146
great -- why dont you keep posting questions / comment here.

[2016-10-16 03:38] QuLogic commented on #147
Please correct the link as well. Also, PyPI is also outdated, looks like...

[2016-10-17 17:06] ChrisBarker-NOAA commented on #147
yeah -- no one ever did a PyPI release...

I'll see what I can do about that.

[2016-10-17 17:08] ChrisBarker-NOAA commented on #147
@QuLogic: what's wrong with the link? it points to the latest published version of the docs, as it should.

[2016-10-17 17:18] ChrisBarker-NOAA commented on #147
OK -- 0.2.2 pushed to PyPI

The PyPI search is broken, so who knows if anyone will find it, but it's there :-)

[2016-10-17 17:18] #147 closed

[2016-10-17 21:06] QuLogic commented on #147
I mean this link should be https:
![untitled](https://cloud.githubusercontent.com/assets/302469/19455700/0a564984-948c-11e6-817a-ee35efd457ed.png)

[2016-10-17 21:19] ChrisBarker-NOAA commented on #147
but it IS http: -- github.io seem happy with either.

Any reason public docs should be served out via https?

But I changed it -- easy enough, and why not?

[2016-10-17 23:37] ChrisBarker-NOAA commented on #141
all over now....

[2016-10-17 23:37] #141 closed

[2016-10-18 01:10] QuLogic commented on #147
Yes, it supports both; at this point, there's no reason _not_ to use https.

[2016-10-25 15:16] ocefpaf commented on #140
Ping!

[2016-10-25 16:05] ChrisBarker-NOAA commented on #140
It looks like numpy uses the three clause license:

http://www.numpy.org/license.html

so following in their lead makes sense to me.

However, I am a bit confused about copyright in this case -- inteh numpycase, it says:

Copyright © 2005-2016, NumPy Developers.
All rights reserved.

So I suppose we can put "pyugrid developers"

But that isn't an actual legal entity -- can it hold a copyright????

[2016-10-25 16:06] ChrisBarker-NOAA commented on #140
lookng into this more, I see, in teh MPL docs:

"""
matplotlib uses a shared copyright model. Each contributor maintains copyright over their contributions to matplotlib. But, it is important to note that these contributions are typically only changes to the repositories. Thus, the matplotlib source code, in its entirety, is not the copyright of any single person or institution. Instead, it is the

[2016-10-25 16:10] ocefpaf commented on #140
:+1:  on the `BSD 3-Clause`. No idea on the copyright stuff though.

[2016-10-25 16:57] ChrisBarker-NOAA commented on #140
OK -- PR done:  #149

[2016-10-25 16:57] #140 closed

[2017-02-10 14:45] svater opened #150 "saving ugrid without edge-node connectivity"
Hi, I experience that saving a ugrid object to a NetCDF file seems to fail when it has no edge-node connectivity defined in ugrid.edges.

In my case I tried to load an ugrid object from a NetCDF file without edge-node connectivity and then immediatelly saved it. It seems that in this case ugrid.edges is undefined, so the test

`if self.edges is not None`

in lines 856 and 892 of ugrid.py results i

[2017-02-10 17:53] jay-hennen commented on #150
Your proposed solution is a good candidate, though what specifically was the error you got with the way the code was before?

[2017-02-10 19:35] ChrisBarker-NOAA commented on #150
hmm -- looking at the property code:

    @property
    def edges(self):
        if self._edges is None:
            self.build_edges()
        return self._edges

so when it checked for edges, it actually called code to build the edges array, and then returned that.

So this is an architecture question:

1) are edges required by the standard? -- in which case, this is probably correct. the goal i

[2017-02-11 12:54] svater commented on #150
So this means that I should commit these two lines?

[2017-02-13 03:18] ChrisBarker-NOAA commented on #150
if you remove these two liines:

[code]

[2017-03-16 16:44] nikhil003 opened #151 "speed of calculating face_coordinates (enhancement)"
Hi,

i have been using pyugrid for some time, and i realized that the code to calculate face_coordinates is  slow and then i looked under the hood and found that it is going through one massive loop

this is the code in the pugrid

[code]

although i am not sure how general my solution would be, as mostly i just deal with triangular meshes and i feel that a simple solution given below can perform

[2017-03-16 21:41] ChrisBarker-NOAA commented on #151
Thanks!

I'm probably responsible for writting that lame loop -- probably because I figured this wan't going to be done often, so why worry about it? but also -- why not use numpy where you can?

As for the assumption of triangles, we should be able to write this without making that assumption....

though if you have varying numbers of vertices per face (e.g. triangles and quads) then it could go

[2017-03-17 04:46] nikhil003 commented on #151
better version of previous code,

[code]

[2017-04-03 23:17] ChrisBarker-NOAA opened #152 "test failures"
The Travis tests are all failing -- due to a problem with netcdf lib -- the hdf libs aren't loading right.

AARRGG!!

I'm out of my depth here....

@ocefpaf ??

[2017-04-03 23:19] ChrisBarker-NOAA commented on #152
why are requirements-devb being installed by pip rather than conda? I think there are all there in conda-forge.

hmm -- maybe that's the netcdf problem -- not getting it from conda-forge?

[2017-06-24 23:54] #82 closed

[2017-11-21 23:45] ChrisBarker-NOAA opened #154 "Future of pyugrid?"
NOTE TO ALL:

We at NOAA-ERD have "moved on" to the gridded project:

https://github.com/NOAA-ORR-ERD/gridded

gridded seeks to provide a single API for working with multiple grid types -- currently triangular ugrid, quad sgrid, and rectangular grids.

It also has code for the vertical coordinates and time.

As UGRID and SGRID have a fair bit in common, it became untenable to try to maintain gridd

[2017-11-22 01:39] rsignell-usgs commented on #154
@kwilcox

[2017-12-08 01:20] ChrisBarker-NOAA opened #156 "Master broken -- needs cell_tree2d updates"
@jay-hennen: could you see if you can figure out what's up with the cell_tree2d calls to:

`CellTree.multi_locate`

[2017-12-08 01:30] ChrisBarker-NOAA commented on #156
@jay-hennen

False alarm, but deve environment was screwed up -- running old pyugrid version.

[2017-12-08 01:30] #156 closed

[2017-12-08 01:30] #152 closed

[2017-12-08 23:17] #134 closed